
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultContainer{
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 30px;
    border: 2px solid #000000;
    gap: 8px;
}

.dividedResults{
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding: 10px;
}

.dividedResults div{
    display: flex;
    border: 2px solid black;
    padding: 8px;
    
    
}

.dividedResults p{
    margin: 0px;
}