
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: #d4f4da;
}

header{
    text-align: center;
}

#gonKillua{
    width: 30%;
    margin: 1em;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
}

.rock,.paper,.scissors{
    width: 20%;
    margin: 1em;
}


.rock img,.paper img,.scissors img{
    width: 100%;
    height: 15vh;
}


.resultContainer{
    display: flex;
    width: 500px;
    margin: 30px;
    border: 2px solid #000000;
    padding: 8px;
    gap: 8px;
}

.dividedResults{
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding: 10px;
}

.dividedResults div{
    display: flex;
    border: 2px solid black;
    padding: 8px;
    
    
}

.userWins, .computerWins{
    gap: 2px;
}

.dividedResults p{
    margin: 0px;
}